body {
    background-color:aqua;
}

h1 {
 
    color: black;
    text-align: center;
 font-family: Verdana;
 font-size: 28px;
}
h2 {
 color: blue;
 text-align: left;
 font-family: Verdana;
 font-size: 45px
}
h3 {
 color: Blue;
 text-align: right;
 font-family: verdana;
 font-size: 45px;
}



p {
    font-family: verdana;
    font-size: 18px;
	position:relative;
	right: px;
	text-align: right;
}
