body {
    background-color:blue;
}

h1 {
    color: black;
    text-align: center;
	font-family: Verdana;
	font-size: 80px;
}

h2 {
	color: blue;
	text-align: left;
	font-family: Verdana;
	font-size: 45px
}

h3 {
	color: Blue;
	text-align: right;
	font-family: verdana;
	font-size: 45px;
}

p {
    font-family: verdana;
    font-size: 18px;
}
